<h1>Scoutwire</h1>

<p>Por favor verifique su cuenta.</p>

<p>Usted se ha registrado para el servicio Scoutwire. Verifique su cuenta utilizando el siguiente enlace.
    Será direccionado al sitio del servicio y podrá ingresar a su cuenta.</p>

<p>
    <a href="{{ confirm_url }}">Verificar cuenta</a> <br />
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>