<h1>Scoutwire</h1>

<p>Ha solicitado un restablecimiento de contraseña para su cuenta de Scoutwire.
    Siga el enlace de abajo para establecer una nueva contraseña:</p>

<p>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>

<p>Si no desea restablecer su contraseña, ignore este correo electrónico y no se tomará ninguna medida.</p>