<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Scoutwire</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/scoutwire/style.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/scoutwire/css/app.css') }} ">
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
        <header class="navbar-light bg-white">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='templates/scoutwire/images/scoutwire.svg') }}" width="120">
                </a>
            </nav>
        </header>
        <main class="dashboard-0">
            <div class="container">
                <!-- flash messages -->
                {% for error_message in get_flashed_messages(category_filter=["error"]) %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}

                {% for success_message in get_flashed_messages(category_filter=["success"]) %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ success_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}

                {% for info_message in get_flashed_messages(category_filter=["info"]) %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ info_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                <!-- flash messages -->

                <!-- content -->
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer class="container">
            <hr>
            <p>© 2018 Scoutwire</p>
        </footer>
        <!-- div con panel derecho de filtros -->
        <div id="panel-filtros">
            {% block filter %} {% endblock filter %}
        </div>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/jquery-slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/scotchPanels.min.js') }}"></script>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/slippry.min.js') }}"></script>
        <script src="{{ url_for('static', filename='templates/scoutwire/js/jquery-wizard.min.js') }}"></script>
        {% block js %} {% endblock js %}
    </body>
</html>
