{% extends "base_chabi.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body mt-5 mb-5 p-4">
            <div id="suscripcion" class="wizard">
                <ul class="wizard-steps d-flex justify-content-between" role="tablist">
                    <li role="tab">1</li>
                    <li class="active" role="tab">2</li>
                    <li role="tab">3</li>
                    <li role="tab">4</li>
                </ul>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 col-8">
                        <form class="wizard-content" action="" method="post" role="form">
                            <div class="wizard-pane active" role="tabpanel">
                                <h4>Paso 2: Elige un sector de negocio</h4>
                                <section class="labelblock-form">
                                    {% for sector in business_sectors %}
                                    <div>
                                        <input type="radio" id="control_{{ sector.name_sector }}" name="business_sector" value="{{ sector.id }}">
                                        <label for="control_{{ sector.name_sector }}">
                                            <h5>{{ sector.name_sector }}</h5>
                                            <p>{{ sector.description }}</p>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <div>
                                        <input type="radio" id="control_0" name="select" value="0" disabled>
                                        <label for="control_0">
                                            <h5>Otros</h5>
                                            <p>Próximamente disponible</p>
                                        </label>
                                    </div>
                                </section>
                                <div class="form-group text-center pt-3">
                                    <button type="submit" class="btn btn-primary">Siguiente</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}