{% extends "base_chabi.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body mt-5 mb-5 p-4">
            <div class="wizard">
                <div class="row justify-content-md-center">
                    <div class="col-md-8 col-8">
                        <form class="wizard-content" action="" method="post" role="form">
                            <div class="wizard-pane active" role="tabpanel">
                                <h4>Elige un sector de negocio</h4>
                                <section class="labelblock-form">
                                    {% for sector in business_sectors %}
                                    <div>
                                        <input type="radio" id="control_{{ sector.name_sector }}" name="business_sector" value="{{ sector.id }}">
                                        <label for="control_{{ sector.name_sector }}">
                                            <h5>{{ sector.name_sector }}</h5>
                                            <p>{{ sector.description }}</p>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </section>
                                <div class="form-group text-center pt-3">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}