{% extends "base_chabi.html" %}


{% block content %}
<div class="row">
    <div class="col-md-12 col-12 mt-5 mb-5 p-4">
        <div class="card card-body text-center">
            {% if error %}
            <div class="rechazo">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" width="100" class="mx-auto d-block">
                    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                </svg>
                <h2 class="mt-4 mb-2">Suscripción rechazada</h2>
                <p>Hubo un error en el proceso de suscripción.</p>
                <a href="suscripcion.html" class="btn btn-outline-primary">Intentar nuevamente</a>
            </div>

            {% else %}
            <div class="exito">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" width="100" class="mx-auto d-block">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <h2 class="mt-4 mb-2">Suscripción finalizada</h2>
                <p>Te has suscrito satisfactoriamente a Scoutwire.</p>
                <ul class="mt-3 list-inline">
                    <li class="list-inline-item mb-2">
                        <a href="#" class="btn btn-outline-danger">Descargar comprobante</a>
                    </li>
                    <li class="list-inline-item mb-2">
                        <a href="{{ url_for('search_documents') }}" class="btn btn-outline-primary">Comenzar una búsqueda</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

