{% extends "base.html" %}

{% block content %}
 <h1 class="page-header">Lista de Preguntas</h1>
<div class="row">
    <div class="card leyes col-12 mt-5 mb-5">
        <div class="card-body">
            <h2 class="my-4"> <a href="{{ url_for('create_question') }}" class="fa fa-plus-circle"></a> </h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">PREGUNTA</th>
                        <th scope="col">SECTOR DE NEGOCIO</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>

                <tbody>
                {% for question in questions %}
                    <tr>
                        <td><a href="{{ question.id }}"><b>{{ question.question }}</b></a></td>
                        <td>{{ question.business_sector.name_sector }}</td>
                        <td>{{ question.description }}</td>
                        <td>
                            <a class="fa fa-file-o ml-3" href="{{ url_for('find_question' ,uid=question.id) }}"></a>
                            <a class="fa fa-trash-o ml-3" href="{{ url_for('delete_question' ,uid=question.id) }}"></a>
                        </td>
                    </tr>
              {% endfor %}
             </tbody>
         </table>
        </div>
    </div>
</div>

{% endblock %}