{% extends "base_chabi.html" %}


{% block content %}
<div class="row">
    <div class="card col-12 mt-5 mb-5 p-4">
        <h2 class="mb-4">Bienvenido a Scoutwire</h2>
        <h3>Iniciar sesión</h3>
        <form action="" method="post" role="form" class="form-signin">
            <div class="form-group">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ingrese su email" autofocus required/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ingrese su contraseña" required/>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <a href="{{ url_for('password_reset') }}">¿Olvidaste tu contraseña?</a>
        </form>

    </div>
</div>
{% endblock %}