{% extends "base_chabi.html" %}


{% block content %}
<div class="row justify-content-md-center">
    <div class="card col-12 mt-5 mb-5 p-4">
    {% if not email %}
        <h3 class="mb-4">Reestablecer la contraseña</h3>
        <p>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>
        <form action="" method="post" role="form" class="mb-3">
            <div class="form-group row">
                <label for="inputEmail" class="sr-only">Ingrese su email</label>
                <div class="col-sm-6">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ingrese su email" autofocus required/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
        </form>
    {% endif %}
        <a href="{{ url_for('login') }}">Volver al login</a>
    </div>
</div>
{% endblock %}