{% extends "base_chabi.html" %}


{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-auto">

    {% if email %}
        <h3>Restablecer la contraseña</h3>
        <form action="" method="post" role="form">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Nueva contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nueva contraseña" autofocus required/>
            </div>
            <div class="form-group">
                <label for="inputPasswordConfirmation" class="sr-only">Confirmar contraseña</label>
                <input type="password" name="password_confirmation" id="inputPasswordConfirmation" class="form-control" placeholder="Confirmar contraseña" required/>
            </div>
            <button type="submit" class="btn">Guardar contraseña</button>
        </form>
    {% endif%}

        <a href="{{ url_for('login') }}">Volver al login</a>
    </div>
</div>
{% endblock %}