{% extends "base_chabi.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body mt-5 mb-5 p-4">
            <div id="suscripcion" class="wizard">
                <ul class="wizard-steps d-flex justify-content-between" role="tablist">
                    <li role="tab">1</li>
                    <li role="tab">2</li>
                    <li class="active" role="tab">3</li>
                    <li role="tab">4</li>
                </ul>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 col-8">
                        <form class="wizard-content" action="" method="post" role="form">
                            <div class="wizard-pane active" role="tabpanel">
                                <h4>Paso 3: Selecciona un plan de suscripción</h4>
                                <section class="labelblock-form">
                                    {% for plan in plans %}
                                    <div>
                                        <input type="radio" id="control_{{ plan.name }}" name="plan" value="{{ plan.id }}">
                                        <label for="control_{{ plan.name }}">
                                            <h5>{{ plan.name }}</h5>
                                            <span class="precio-plan">${{ plan.amount }} <span class="mes">/ mes</span></span>
                                            <p>{{ plan.description }}</p>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </section>
                                <div class="form-group text-center pt-3">
                                    <a href="{{ url_for('sectors') }}" class="btn btn-primary" role="button">Volver</a>
                                    <button type="submit" class="btn btn-primary">Siguiente</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}