{% extends "base.html" %}
{% block content %}
   <h1 class="page-header">Formulario de pregunta</h1>
    <div class="row">
        <div class="card leyes col-12 mt-5 mb-5 p-4">
           <form method="POST">
               <div class="form-row">
                   <div class="form-group col-md-8">
                       <label for="txtquestion">Pregunta</label>
                        <input id="txtquestion" class="form-control form-control" name="question" type="text" value="{% if question %}{{ question.question }}{% endif %}" placeholder="Ingrese su pregunta">
                   </div>
                   <div class="form-group col-md-4">
                       <label for="business_sector">Sector</label>
                        <select id="business_sector" name="business_sector" class="form-control form-control-lg">
                            <option value="">[ SELECCIONE ]</option>
                            {% for sector in list_businnes_sector %}
                                {% if question  %}
                                    <option value="{{ sector.id }}" {% if question.business_sector_id == sector.id %} selected="selected" {% endif %} >
                                        {{ sector.name_sector }}
                                    </option>
                                {% else %}
                                    <option value="{{ sector.id }}">
                                        {{ sector.name_sector }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                   </div>
                   <div class="form-group  col-md-12">
                        <label for="description">Descripción</label>
                       <textarea  rows="4" id="description"  class="form-control" name="description">{% if question %}{{ question.description }}{% endif %}</textarea>
                   </div>
                   <div class="form-group col-12 text-center pt-3">
                        <button type="submit" class="btn btn-primary "> <i class="ion-android-checkmark-circle"></i> SALVAR</button>
                   </div>
               </div>


           </form>
        </div>
    </div>
{% endblock %}