{% extends "base_chabi.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body mt-5 mb-5 p-4">
            <div id="suscripcion" class="wizard">
                <ul class="wizard-steps d-flex justify-content-between" role="tablist">
                    <li class="active" role="tab">1</li>
                    <li role="tab">2</li>
                    <li role="tab">3</li>
                    <li role="tab">4</li>
                </ul>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 col-8">
                        <form class="wizard-content" action="" method="post" role="form">
                            <div class="wizard-pane active" role="tabpanel">
                                <h4>Paso 1: Inscríbete en Scoutwire</h4>
                                <div class="form-group">
                                    <label for="inputName" class="col-form-label">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="inputName" autofocus required>
                                </div>
                                <div class="form-group">
                                    <label for="inputLastName" class="col-form-label">Apellido</label>
                                     <input type="text" name="lastname" class="form-control" id="inputLastName" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-form-label">Correo electrónico</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-form-label">Clave</label>
                                    <input type="password" name="password" class="form-control" id="inputPassword" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordConfirmation" class="col-form-label">Confirmar clave</label>
                                    <input type="password" name="password_confirmation" class="form-control" id="inputPasswordConfirmation" required>
                                </div>
                                <div class="form-group">
                                    <label class=col-form-label"></label>
                                    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
                                </div>
                                <div class="form-group text-center pt-3">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <button type="submit" class="btn">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock js %}