{% extends "base_chabi.html" %}


{% block content %}
<div class="row">
     <div class="card leyes col-12 mt-5 mb-5 p-4">
         <div class="col-md-auto">
        {% if not email %}
        <p>Ingrese su dirección de correo electrónico y le enviaremos un enlace para confirmar su cuenta.</p>
        <form action="" method="post" role="form">
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Ingrese su email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Ingrese su email" autofocus required/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {% endif %}
    </div>
     </div>
</div>
{% endblock %}