{% extends "base.html" %}


{% block content %}

 <h1 class="page-header">Buscar Documentos</h1>

<div class="container">
    <section id="search">
        <h3 class="text-center">¿En qué te puedo ayudar hoy?</h3>
        <form action="" method="post" role="form">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" name="search" id="inputSearch" class="form-control" autofocus required/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    {% if search_history %}
    <section id="search-history">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Historial de búsquedas</h3>
                <ul>
                    {% for item in search_history %}
                    <li>{{ item.search }} - {{ item.history_date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

    {% if documents %}
    <section id="documents">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Resultados encontrados:</h3>
                <div>
                    {% for document in documents %}
                    <div>
                        {{ document.publication_date }}
                        {{ document.title }}
                        {{ document.text }}
                        {{ document.result_metadata.score }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if aggregations %}
    <section id="statistics">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Ańalisis de sentimientos</h3>
                <svg id="sentiment-donut-d3" width="400" height="400"></svg>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Detección de anomalías</h3>
                <svg id="anomaly-line-d3" width="700" height="280"></svg>
            </div>
        </div>
    </section>
    {% endif %}
</div>

{% endblock %}


{% block js %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script> 
    var dataset; 
    {% if aggregations %}
        dataset = JSON.parse({{ aggregations | tojson | safe }});
        console.log('dataset', dataset);
    {% endif %}
    
    if (dataset !== undefined) {
        // Sentiment Chart
        let sentimentData = sentimentParse(dataset[0].results);
        let category = ['Positive', 'Neutral', 'Negative'];
        let catColor = ["#008ffb", "#00e396" , "#fdae17"];
        drawPieChart(sentimentData, '#sentiment-donut-d3', category, catColor);

        // Anomaly Detection
        let anomalyData = anomalyParse(dataset[1].results);
        drawLineChart(anomalyData, '#anomaly-line-d3');
    }

    function sentimentParse(data) {
        let parsedData = [];
        let total = 0; 
        data.forEach(function(item) {
            if (item.key === 'positive'){
                parsedData.push({'label': 'Positive', 'value': item.matching_results});
                total += item.matching_results;    
            }else if (item.key === 'neutral') {
                parsedData.push({'label': 'Neutral', 'value': item.matching_results});
                total += item.matching_results;    
            }else if (item.key === 'negative') {
                parsedData.push({'label': 'Negative', 'value': item.matching_results});    
                total += item.matching_results;
            }
        });

        return {'data': parsedData, 'total': total};
    }
    
    function toDate(value) {
        return new Intl.DateTimeFormat('en-US', { month: 'numeric', day: 'numeric', year: 'numeric' }).format(new Date(Date.parse(value)));   
    }

    function anomalyParse(data) {
        let parsedData = [];
        data.forEach(function(item) {
            parsedData.push({'date': toDate(item.key_as_string), 
                             'value': item.matching_results,
                             'article': item.aggregations[0].results[0].aggregations[0].results[0].key});   
        });

        return parsedData;
    }

    function drawPieChart(dataset, id, category, categoryColor) {
        let data = dataset.data,
            total = dataset.total; 

        let margin = {top: 20, right: 0, bottom: 40, left: 0},
            width = $(id).width() - margin.left - margin.right,
            height = $(id).height() - margin.top - margin.bottom;    
        
        let radius = Math.min(width, height) / 2,
            innerRadius = radius * 0.45,
            outerRadius = radius * 0.75;

        let legendRectSize = radius/8,
            legendSpacing = radius/2;

        let color = d3.scaleOrdinal()
                    .domain(category)
                    .range(categoryColor);

        let formatPercent = d3.format(".2%");
        let pie = d3.pie()
            .value(function(d) {return d.value; })
            .sort(null);

        let arc = d3.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);

        let svgX = (width + margin.right + margin.left) / 2,
            svgY = (radius*2 + margin.top*2) / 2;

        let svg = d3.select(id).append("svg")
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + svgX + "," + svgY + ")");
        
        svg.append("svg:text")
            .attr("class", "donutCenterTextTotal")
            .attr("dy", "-.3em")
            .attr("text-anchor", "middle")
            .text('Total');

        svg.append("svg:text")
            .attr("class", "donutCenterTextTotal")
            .attr("dy", ".8em")
            .attr("text-anchor", "middle")
            .text(total.toString());

        let path = svg.datum(data).selectAll(".solidArc")
            .data(pie)
            .enter()
            .append("path")
            .attr("fill", function(d) {
                return color(d.data.label);
            })
            .attr("class", "solidArc")
            .attr("d", arc)
            .on('mouseover', function(d) {
                d3.select(this).transition().duration(200).attr("d", arc.innerRadius(innerRadius).outerRadius(outerRadius / 0.75 * 0.8));
                d3.selectAll('.donutCenterTextTotal').remove();

                svg.append("svg:text")
                    .attr("class", "donutCenterText")
                    .attr("dy", "-.3em")
                    .attr("text-anchor", "middle")
                    .transition().duration(200)
                    .text(d['data']['label']);

                svg.append("svg:text")
                    .attr("class", "donutCenterText")
                    .attr("dy", ".8em")
                    .attr("text-anchor", "middle")
                    .transition().duration(200)
                    .text(formatPercent(d['value'] / total));
            })
            .on('mouseout', function(d) {
                d3.select(this).transition().duration(200).attr("d", arc.innerRadius(innerRadius).outerRadius(outerRadius));
                d3.selectAll('.donutCenterText').remove();

                svg.append("svg:text")
                    .attr("class", "donutCenterTextTotal")
                    .attr("dy", "-.3em")
                    .attr("text-anchor", "middle")
                    .text('Total');

                svg.append("svg:text")
                    .attr("class", "donutCenterTextTotal")
                    .attr("dy", ".8em")
                    .attr("text-anchor", "middle")
                    .text(total.toString());
            });

        //legend 
        let legend = svg.selectAll('.legend')
            .data(color.domain())
            .enter()
            .append('g')
            .attr("id", function(d) {
                return "legend-" + d;
            })
            .attr('class', 'legend')
            .attr('transform', function(d, i) {
                let horz = (i-1.5)*(legendSpacing + legendRectSize);
                let vert =  radius + margin.bottom / 4;
                return 'translate(' + horz + ',' + vert + ')';
            });

        legend.append('rect')
            .attr('width', legendRectSize)
            .attr('height', legendRectSize)
            .style('fill', color)
            .style('stroke', color);

        legend.append('text')
            .data(data)
            .attr('x', legendRectSize*1.2)
            .attr('y', legendRectSize/1.3)
            .text(function(d) {
                return d.label; 
            });
    }

    function drawLineChart(data, id) {

        data.forEach(function(d) {
            d.date = new Date(d.date);
            d.value = +d.value;
        });

        let margin = {top: 20, right: 18, bottom: 35, left: 50},
            width = $(id).width() - margin.left - margin.right,
            height = $(id).height() - margin.top - margin.bottom;

        let x = d3.scaleTime().rangeRound([0, width]),
            y = d3.scaleLinear().rangeRound([height, 0])
        
        let svg = d3.select(id).append("svg")
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        let line = d3.line()
                    .x(function(d) { return x(d.date); })
                    .y(function(d) { return y(d.value); });
        
        x.domain(d3.extent(data, function(d) { return d.date; }));
        y.domain(d3.extent(data, function(d) { return d.value; }));

        svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)
            .attr("d", line);
        
        // Define the div for the tooltip
        let div = d3.select("body").append("div")	
            .attr("class", "tooltip")				
            .style("opacity", 0);
        
        let points = svg.selectAll(".gPoints")
            .data(data)
            .enter().append("g")
            .attr("class", "gPoints");
        
        points.selectAll(".points")
            .data(data)
            .enter().append("circle")
            .attr("class", "points")
            .attr("fill", "#008ffb")
            .attr("cx", function (d) {
              return x(d.date);
            })
            .attr("cy", function (d) {
              return y(d.value);
            })
            .attr("r", "4px")
            .on("mouseover", function(d) {		
                div.transition()		
                    .duration(200)		
                    .style("opacity", .9);		
                div.html(d.article)	
                    .style("left", (d3.event.pageX) + "px")		
                    .style("top", (d3.event.pageY - 28) + "px");	
                })					
            .on("mouseout", function(d) {		
                div.transition()		
                    .duration(500)		
                    .style("opacity", 0);	
            });
        
        // axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))

        svg.append("g")
            .call(d3.axisLeft(y))
            .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "0.71em")
            .attr("text-anchor", "end")
            .text("Articles (#)");   
    }
</script>
{% endblock %}
