{% extends "base.html" %}
{% block content %}
            <h1 class="page-header">Realizar una pregunta</h1>
            <div class="" style="height: 600px;">
                <section class="col-md-12 col-12 mt-5 mb-5 text-center align-self-center">
                    <div id="voice"></div>
                    <h3 class="my-3 mb-5">¿En qué te puedo ayudar hoy?</h3>
                    <form class="card card-sm"  method="POST" role="form">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <div class="col">
                                <input name="search" id="inputSearch" class="form-control form-control form-control-borderless" type="search" placeholder="Ejemplo: Acoso sexual">
                            </div>
                            <div class="col-auto">
                                 <button type="submit" class="btn btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                </section>
    {% if search_question %}
        <section id="search-history">
        <div class="row">
            <h3>le sugerimos... </h3>
            <ul>
                {% for question in search_question %}
                <li>{{ question.question }} - <span>{{ question.description }}</span> </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
</div>
            </div>



{% endblock %}