{% extends "base_chabi.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body mt-5 mb-5 p-4">
            <div id="suscripcion" class="wizard">
                <ul class="wizard-steps d-flex justify-content-between" role="tablist">
                    <li role="tab">1</li>
                    <li role="tab">2</li>
                    <li role="tab">3</li>
                    <li class="active" role="tab">4</li>
                </ul>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 col-8">
                        <form id="formulario" class="wizard-content" action="" method="post" role="form">
                            <div class="wizard-pane active" role="tabpanel">
                                <h4>Paso 4: Realiza el pago de la suscripción</h4>
                                <p class="text-center">El pago se realizará en una nueva ventana a través de Flow. Haz click en "Pagar suscripción" para continuar con el proceso de pago.</p>

                                <img class="mx-auto d-block mt-3 mb-4" src="{{ url_for('static', filename='images/logo-flow.svg') }}" width="200">
                                <div class="form-group text-center pt-3">
                                    <a href="{{ url_for('plans') }}" class="btn btn-primary" role="button">Volver</a>
                                    <a href="{{ new_credit_card_url }}" class="btn btn-success">Pagar suscripción</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



