{% extends "base_chabi.html" %}


{% block content %}
<div class="row">
      <div class="card leyes col-12 mt-5 mb-5 p-4">
          <div class="col-md-auto">
              <h3>¡Bienvenido!</h3>
              <p>No has confirmado tu cuenta. Revise su bandeja de entrada (y su carpeta de correo no deseado): debería haber
                recibido un correo electrónico con un enlace de confirmación.</p>
              <p>¿No recibió el correo electrónico? <a href="{{ url_for('resend') }}">Reenviar</a>.</p>
          </div>
      </div>
</div>
{% endblock %}