{% extends "base_chabi.html" %}


{% block content %}
<div class="row">
     <div class="card leyes col-12 mt-5 mb-5 p-4">
             <div class="col-md-auto">
        {% if email %}
            <h3>Verificación confirmada</h3>
            <p>Su dirección de email se ha verificado con éxito.</p>

            <a href="{{ url_for('login', step=2) }}">ir al login</a>
        {% endif %}
    </div>
     </div>
</div>
{% endblock %}