$transition-duration: .2s !default;
.hide {
  display: none;
}

// core
.wizard-pane {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-duration ease;
  &.active {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  &.activing {
    visibility: visible;
  }

  h4{
    text-align: center;
    padding: 2rem 0;
  }

  .precio-plan{
    font-size: 2rem;
    .mes{
      font-size: 1.5rem;
    }
  }
}

.wizard-content {
  position: relative;
  padding: 0;
  transition: height $transition-duration ease;
}

// styles
.current {
  color: #fff !important;
  background: $blue !important;
}

.done {
  color: #fff !important;
  background: $blue !important;
}

.error {
  color: #f00 !important;
}

.disabled {
  cursor: not-allowed !important;
}

.wizard-pane {
  padding: 10px;
}

.wizard-steps {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: $gray-200;
    top: 50%;
    z-index: 0;
  }
  > li {
    display: inline-block;
    background: #fff;
    color: $blue;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid $blue;
    border-radius: 50%;
    font-family: $headings-font-family;
    z-index: 2;
    &:hover {
      color: #333;
    }
  }
}

.wizard-buttons {
  margin-top: 10px;
  > a {
    margin-left: 10px;
    &.disabled {
      display: none;
    }
  }
}

.labelblock-form {
  display: flex;
  flex-flow: row wrap;
  div {
    flex: 1;
    padding: 0.5rem;
  }
  input[type="radio"] {
    display: none;
    &:not(:disabled) ~ label {
      cursor: pointer;
    }
    &:disabled ~ label {
      color: hsla(150, 5%, 75%, 1);
      border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid $blue;
    border-radius: 20px;
    padding: 2rem 2rem 0;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    transition: all 0.2s ease;
    &:hover{
      border-color: $purple;
    }
  }
  input[type="radio"]:checked + label {
    background: $purple;
    border: 2px solid $purple;
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px rgba(#000, 0.15);
    &::after {
      color: hsla(215, 5%, 25%, 1);
      font-family: Ionicons;
      border: 2px solid $purple;
      content: "\f121";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
    }
  }
}

@media only screen and (max-width: 700px) {
  .labelblock-form {
    flex-direction: column;
  }
}
