@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Heebo:400,500,700,900|Varela+Round";
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

header {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-bottom: 2px solid $blue;
}

#panel-filtros {
    background: darken($blue, 35%);
    padding: 30px;
    color: $white;

    h4 {
        font-size: 1.3rem;
        color: $blue;
    }

    h5 {
        color: $blue;
        font-size: 0.8rem;
        margin-top: 1.5rem;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($blue, 0.2);
        text-transform: uppercase;
    }

    .cerrar-panel {
        position: absolute;
        top: 10px;
        right: 10px;

        i {
            color: $blue;
        }
    }
}

#slide-resultados{
    a{
        color: $gray-900;
    }
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.dashboard-0{
    background: url(images/bg-0.png) no-repeat center center;
}

.dashboard-1 {
    background: url(images/bg.png) no-repeat top center;

    .dropdown-toggle:after {
        display: none;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 2rem 0;
    }

    .relevante {
        background: transparent;
        color: $blue;
        border: 2px solid $blue;
    }

    .relacionada {
        background: transparent;
        color: $gray-500;
        border: 2px solid $gray-500;
    }

    .leyes {
        dl {
            border-bottom: 1px solid $gray-200;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
                border-bottom: none;
            }

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 3;
            }

            dt {
                font-family: $headings-font-family;
                transition: all 0.25s ease;
            }

            &:hover {
                dt {
                    color: $blue;
                }
            }

            dd {
                font-size: 0.9rem;
                color: $gray-700;
            }

            .rate {
                text-align: center;

                i {
                    font-size: 2rem;

                    &.up {
                        color: $green;
                    }

                    &.down {
                        color: $red;
                    }

                    &.neutral {
                        color: $gray-500;
                    }
                }
            }
        }


    }

    .noticias {
        dl {
            border-bottom: 1px solid $gray-200;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
                border-bottom: none;
            }

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 3;
            }

            dt {
                font-family: $headings-font-family;
                transition: all 0.25s ease;
                line-height: 1.3rem;
            }

            &:hover {
                dt {
                    color: $blue;
                }
            }

            dd {
                font-size: 0.9rem;
                color: $gray-700;
            }

            .rate {
                text-align: center;

                i {
                    font-size: 2rem;
                    color: $gray-400;
                    transition: all 0.25s ease;
                }
            }

            &:hover {
                .rate {
                    i {
                        color: $blue;
                    }
                }
            }
        }
    }

}

.cifra {
    font-weight: 900;
    color: $blue;
    font-size: 4rem;
    line-height: 1;
    font-family: $headings-font-family;
    font-weight: 700;
}

.comparacion {
    padding: 30px;

    .circulo {
        border: 5px solid $blue;
        border-radius: 50%;
        width: 220px;
        height: 220px;
        padding: 20% 10%;
    }

    h6 {
        margin-bottom: 2rem;
        color: $gray-700;
        font-size: 0.9rem;
    }

    p {
        margin-bottom: 0;
        font-weight: 500;
        color: $gray-700;
        font-size: 0.9rem;
        line-height: 1rem;
    }
}

.categoria {
    font-family: $font-family-monospace;
    font-weight: 700;
    color: $gray-500;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.dashboard-2 {
    padding-top: 3rem;
    background: url(images/bg.png) no-repeat top center;

    h2 {
        margin: 2rem 0;
        font-weight: 500;
        color: $blue;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 2rem 0;
    }

    .datos {
        .icono-circulo {
            width: 40px;
            height: 40px;
            background: rgba($blue, 0.1);
            line-height: 40px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 auto 10px;

            i {
                color: $blue;
            }
        }

        .icono-up {
            width: 40px;
            height: 40px;
            background: rgba($green, 0.1);
            line-height: 40px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 auto 10px;

            i {
                color: $green;
            }
        }

        .icono-down {
            width: 40px;
            height: 40px;
            background: rgba($red, 0.1);
            line-height: 40px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 auto 10px;

            i {
                color: $red;
            }
        }

        p {
            margin-bottom: 0;
            color: $gray-500;
        }

        &.relacionados {
            ul {
                margin-bottom: 0;

                li {
                    margin-bottom: 0.5rem;
                }
            }

        }
    }
}

.accordion {
    .card {
        margin-bottom: 1px;

        &:hover, &:focus {
            border-left: 3px solid $blue
        }
    }
}

.label-toggler {
    font-weight: 700;
    color: $gray-600;
    margin-right: 10px;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 72px;
    height: 36px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: '';
    -webkit-animation-name: toggler-size;
    animation-name: toggler-size;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transition: left .15s ease-in-out, background-color .2s ease-out, width .15s ease-in-out, height .15s ease-in-out, opacity .15s ease-in-out;
}

.toggler input:checked+label::after,
.toggler input:checked+label .toggler-on,
.toggler input:checked+label .toggler-off {
    left: 75%;
}

.toggler input:checked+label::after {
    background-color: #50ac5d;
    -webkit-animation-name: toggler-size2;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked+label .toggler-off,
.toggler input:not(:checked)+label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

@-webkit-keyframes toggler-size {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@-webkit-keyframes toggler-size2 {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

footer {
    hr {
        margin: 3rem 0;
    }

    p {
        font-weight: 500;
        color: $gray-500;
        font-size: 0.9rem;
    }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash 1.5s ease-in-out;
    animation: dash 1.5s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 2s .7s ease-in-out forwards;
    animation: dash 2s .7s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 2s .7s ease-in-out forwards;
    animation: dash-check 2s .7s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
